<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Attendance System</title>
  </head>
  <body onload="startTime()" class="bg-light">
  <!-- navbar START -->
		  <nav class="navbar navbar-expand-lg navbar-dark" style="background: #0C71E0">
		  	<img alt="Ateneo de Davao Branding — Paolo PV" class="n3VNCb" src="https://images.squarespace-cdn.com/content/v1/5c76a250a568275dfaf44efb/1551588779642-Y3LUQ5AQGV6IZ65W6DW2/ke17ZwdGBToddI8pDm48kBJhssmCgFCD8RU8keQ5lXhZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVGR_hN_19rkYkG_GtTpnT31HCQdiFieOaBw1PgMsbUb1mQ6l2WM7tn7mqHTODzkmeM/Ateneo-de-Davao-Logo-e1518501546893.png" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="width: 40px; height: 39px; border-radius: 50%">
		  <a class="navbar-brand" href="#"><b>Student Registration System</b></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

				  
			  
			</ul>
			<ul class="navbar-nav my-sm-0">
			  <li class='nav-item'>
			  <b class="nav-link" id="clockhere"></b>
			  </li>
			</ul>
		  </div>
		</nav>
	<!-- navbar STOP -->
    
	{% block content %}
	{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>

  <script>function startTime() { var today = new Date(); var h = today.getHours(); var m = today.getMinutes(); var s = today.getSeconds(); stat = h >= 12 ? 'PM' : 'AM'; h = h % 12; h = h? h : 12; m = m < 10? '0' + m : m; s = s < 10? '0' + s : s; document.getElementById('clockhere').innerHTML = h + ":" + m + ":" + s + " " + stat; var t = setTimeout(startTime, 500); }</script>

</html>
