{% extends 'base.html' %}
{% block content %}
<html>
<body >
<div>
<span style="margin-right: 11%">Lastname</span><span style="margin-right: 10%">Firstname</span><span style="margin-right: 12%">Level</span><span style="margin-right: 12%">Course</span><span style="margin-right: 11%">Gender</span><span style="margin-right: 10%">Event</span>
</div>
<form class= "form-inline my-2 my-lg-0" method="POST">{% csrf_token %}
<input class="form-control mr-sm-2" type="text" name="lastname" values="{{ list_item.lastname}}">
<input class="form-control mr-sm-2" type="text" name="firstname" values="{{ list_item.firstname}}">
<input class="form-control mr-sm-2" type="text" name="level" values="{{ list_item.level}}">
<input class="form-control mr-sm-2" type="text" name="course" values="{{ list_item.course}}">
<input class="form-control mr-sm-2" type="text" name="gender" values="{{ list_item.gender}}">
<input class="form-control mr-sm-2" type="text" name="event" values="{{ list_item.event}}">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Save Edit</button>
</form>
</body>
</html>
{% endblock %}
